<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://vuejs.org/js/vue.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/js_script.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <title>Affes Burger</title>
    <meta charset="utf-8"/>
  </head>
  
  <body>
    <main id="theMain">
      
      <header id="header">
        <h1 id="restaurantName">Welcome to The Affes Burger</h1>
        <img src="img/headerpic.jpg" alt="Picture of a burger"
             title="The Affes burger" class="differentSection" id="headerpic">
      </header>
      
      <section id="burger" class="differentSection">
        <h2 class="allergic">Select The burger</h2>
        <p class="allergic">Choose from our delicious selection of The burgers </p>
        
        <div id="wrapper">
          
          <div v-for="burger in food">
            <h3 align id="burgerNames"> {{burger.name}}</h3>
            <img :src="burger.img" width="270" height="175">
            <input type="checkbox" :value="burger.name" id="checkbox" v-model="checked">
            <ul>
              <li>{{burger.desc}} </li>
              <li>{{burger.kCal}}</li>
              <li id="allergy">{{burger.allergy}}</li>
              <li>{{burger.ingredients}}</li>
            </ul>
            
          </div>
        </div>
      </section>
      
      <section id="orderinformation" class="differentSection">
        <h2>The Customer information</h2>
        <p>Please provide you contact information</p>
        <p>
          <label for="fullname">Full name</label><br>
          <input id="fullname" type="text" id="fullname" name="name" required="required"
                 placeholder="First- and Last name" v-model="name">
        </p>
        <p>
          <label for="email">E-mail</label><br>
          <input id="email" type="email" id="email" name="email" required="required"
                 placeholder="E-mail adress" v-model="email">
        </p>
        
        <p>
          <label for="paymentoption">Payment options</label><br />
          <select id="paymentoption" name="payment" v-model="paymentOption" >
            <option>Credit card</option>
            <option>Cash</option>
            <option selected="selected">Swish</option>
            <option>Paypal</option>
            <option>Klarna</option>
          </select>
        </p>

        <h3> Click in the map! </h3>
        <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
        <div class="view-box">
          <div id="dots" v-on:click="displayOrder">
            <div
              v-if="order.showT"
              v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
              T
            </div>
          </div>
        </div>
        
        <div id="gender">
          <label>Gender</label><br>
          <input type="radio" id="female" name="gender" value="Female" required="required" v-model="theGender">
          <label for="name" align="right">Female</label><br>

          <input type="radio" id="male" name="gender" value="Male" required="required" v-model="theGender">
          <label for="male">Male</label><br>

          <input type="radio" id="nonbinary" name="gender" value="Non-binary" required="required" v-model="theGender">
          <label for="nonbinary">Non-binary</label><br>

          <input type="radio" id="undisclosed" name="gender" value="Undisclosed" required="required"
                 checked="checked" v-model="theGender">
          <label for="undisclosed">Undisclosed</label><br>
        </div>
      </section>
      <br>

      <button id="orderButton" type="submit" v-on:click="addOrder()">Place my order!</button>
      <br>
      <span v-if="showOrder">
        <h3> Order Information </h3>
        <h4> Customer details </h4>
        Name: {{ name }} <br>
        Email: {{ email }} <br>
        Gender: {{ theGender }} <br>
        <h4> Order summary <h4>
            <div v-for="theBurgers in checked">
              {{ theBurgers }} </div>
      </span>
      
    </main>
    <hr>
    
    <footer> &COPY; 2025 Affes Inc. </footer>
    
  </body>
</html>

