/*You comment goes here*/

body {
    font-family: arial, sans-serif;
    font-style: normal;
    font-size: 110%;
}

/*This is a class*/
.allergic {
    color: #ffffff;
}


/* gluten is a id name*/
#gluten {
    text-transform: uppercase;
    font-weight: bold;
}

/*You can also be more specific with which element belonging to a specific class should be targeted. If you would write a.current, only anchors belonging to the current class would be affected but not any other elements that belongs to the same class.*/

#burger {
    Background-color: #000000;
    border: 2px dashed #ffffff;
}

#orderinformation {
    border: 2px dashed #000000;
    padding: 2%;
}

button:hover{
    Background-color: #8097B6;
    cursor: pointer;
                          
}
table {
    width: 100%;
    margin: 0 auto;
}

/*section {*/
    /*margin: 0 0 5% 5%;*/
    /*margin-left: 3%;

    margin-right: 3%;
}*/

.differentSection {
    margin-left: 3%;
    margin-right: 3%; 
}

#headerpic {
    width: 94%;
    opacity: 0.5;
}

button {
    /*margin-left: 1%;*/
    /*margin-top: 1%;*/
    margin: 1% auto auto 1%;
}

#restaurantName {
    margin-left: 3%;
}


